@import "../../App.scss";

.chat-box {
    width: 100%;
    // background-color: white;
    background-color: $chatbox-background-color;
    padding: 15px;
    height: calc(100vh - 94px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);

    & h1 {
        color: black !important;
    }
}

.chat-navbar {
    @include center-flex;
}

.message-container{
    @include center-flex;
    background-color: $message-background-color;
    border-radius: 30px;
    padding: 5px 13px;
    margin-bottom: 7px;
    max-width: 70%;
}

.app-message {
    font-family: $message-font;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
    font-size: 15px;
    display: inline-block;
    text-align: left;

    &.sender {
        text-align: right;
    }

    &.receiver {
        text-align: left;
    }

    &.preview {
        font-size: 12px;
        color: rgb(102, 100, 100);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
    }

    &.username {
        font-weight: 700;
        text-align: left;
        color: black;
    }

}

.chatbox-divider {
    background-color: rgb(234, 234, 234);
    height: 1px;
    width: 100%;
    margin-top: 5px;

    &.vertical {
        width: 1px;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.chat-user-profile {
    display: flex !important;
    justify-content: center !important; 
    align-items: center !important; 
    padding-top: 10px;

    &.username {
        font-weight: 600;
        color: black;
        margin-bottom: 0;
    }

    &.info-title {
        margin-bottom: 0;
        font-weight: 600;
        font-style: italic;
    }

    &.info-content {
        margin-bottom: 25px;

        &.interests {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}