/* Wrapper for the entire audio player */
.audio-player-wrapper {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 72px;
}

.rhap_container {
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    padding: 5px;
}

/* Audio Header */
.audio-header {
    flex: 0 0 auto;
    margin-right: 20px; /* Space between header and player */
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center; /* Vertically center the text */
    height: 20px;
}

/* Main Controls (Play/Pause, Skip) */
.rhap_main-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 500px;
    height: 30px;
}

/* Progress Bar Section */
.rhap_progress-section {
    flex: 1;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 600px; */
    padding-left: 300px;
    padding-right: 450px;
    height: 40px;
}

.rhap_progress-bar {
    flex: 1;
    align-items: center;
    height: 5px; /* Height of the progress bar */
    background: #ddd; /* Background color of the progress bar */
    border-radius: 2.5px;
}

.rhap_progress-bar:hover {
    background: #ccc; /* Background color on hover */
}

.rhap_progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress); /* Width of the progress */
    height: 100%;
    background: #2196F3; /* Color of the progress */
    border-radius: 2.5px;
}

/* Time Display */
.rhap_time {
    min-width: 40px;
    text-align: center;
    font-size: 14px;
}

.rhap_volume-container {
    width: 100%; /* Make the volume container take up the full width */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
/* Volume Controls */
.rhap_volume-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* flex: 0 0 70%; */
    height: 20px;
}

.rhap_volume-bar {
    flex: 1; /* Make the volume bar take up the available space */
    height: 5px; /* Adjust the height if necessary */
    background: #ddd; /* Background color of the volume bar */
    border-radius: 2.5px;
    position: relative;
    width: 120px;
}

.rhap_volume-bar:hover {
    background: #ccc; /* Background color on hover */
}

.rhap_volume-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--volume); /* Width of the volume level */
    height: 100%;
    background: #2196F3; /* Color of the volume level */
    border-radius: 2.5px;
}