// colors
$purple: #a663cc; // used in nav bar h1 (specifically for the logo)
$light-purple: #dec9e9;
$light-pink: #ff72b6;
$pink: #eb4b98;
$hot-pink: #DC087D;
$blue: #98B9F2; 

// app-colors
$logo-color: $purple;
$nav-link-color: $light-pink;
$nav-link-active: $pink;
$heading-color: $blue;
$chatbox-background-color: $light-purple;
$message-background-color: $hot-pink;