@import "../../App.scss";

.text-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 5rem;
    font-family: $title-font;
}

.bouncy-letter {
    background: linear-gradient(90deg, #6F9CEB 0%, #98B9F2 50%, #918EF4 100%);
    background-clip: text;
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    color: transparent;
}