.peacepod-navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.peacepod-navbar h1 {
    /* color: #7398dc; */
    color: #a663cc;
    /* color: #ef6fad; */
}

.peacepod-navbar .links {
    margin-left: auto;
}

.peacepod-navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    background-color: transparent; 
}

.peacepod-navbar button {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    background-color: transparent; 
}

.peacepod-navbar a:hover {
    color: #ff72b6;
}

.peacepod-navbar button:hover {
    color: #ff72b6;
}

.peacepod-navlink.active {
    color: #eb4b98;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}