@import "../../App.scss";

.peacepod-navbar {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    font-family: $nav-font;
}

.peacepod-navbar h1 {
    color: $logo-color !important;
    font-size: 35px !important;
}

.peacepod-navbar .links {
    margin-left: auto;
}

.peacepod-navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    background-color: transparent; 
    transition: all 250ms linear
}

.peacepod-navbar button {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    background-color: transparent; 
}

.peacepod-navbar a:hover {
    color: $nav-link-color;
}

.peacepod-navbar button:hover {
    color: $nav-link-color;
}

.peacepod-navlink.active {
    color: $nav-link-active;
    text-decoration: none; 
}

