
.peacepod-navbar {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.peacepod-navbar h1 {
    /* color: #7398dc; */
    color: #a663cc;
    /* color: #ef6fad; */
}

.peacepod-navbar .links {
    margin-left: auto;
}

.peacepod-navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    background-color: transparent; 
    transition: all 250ms linear
}

.peacepod-navbar button {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    background-color: transparent; 
}

.peacepod-navbar a:hover {
    color: #ff72b6;
}

.peacepod-navbar button:hover {
    color: #ff72b6;
}

.peacepod-navlink.active {
    color: #eb4b98;
    text-decoration: none; 
}

