@import "../../App.scss";

.meditation {
    @include center-flex;
    font-family: $text-font;

    h2 {
        font-size: 25px;
        font-weight: 600;
    }

    h4 {
        font-size: 18px;
        font-weight: 300;
        
        &.text-selected {
            font-weight: 500;
            color: purple;
        }
    }

    & .page {
        margin-top: 50px;
    }

    & .textbox {
        width: 100%;
        height: 100%;
        align-items: flex-end;

        &.sub {
            font-style: italic;
        }
    }

    & .icons {
        justify-content: space-around;
    }
}

.meditation-audios {
    padding: 20px;
}

.meditation-box {
    width: 50%;
    border-radius: 15px;
    // background-color: $box-background-color;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}
