/* base styles */

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: #545454;
}



h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

