@import'./styles/colors.scss';
@import'./styles/fonts.scss';
@import'./styles/mixins.scss';


// base styles
h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  @include center-flex;
}

h1 {
  font-family: $title-font;
  color: $heading-color !important;
  margin-bottom: 20px !important;
  font-size: 60px !important;
}