@import'../../../App.scss';

/* .fade-in-text {
    animation: fadeIn 5s;
  } */

.fade-in-text {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in-text.show {
    opacity: 1;
}

.prompt-text {
    font-size: 23px;
    font-weight: 600;
    margin-right: 5px;
    font-family: $prompt-font;

    &.responses {
        display: inline-block;
        text-align: left;
    }

    &.quote {
        display: inline-block;
        text-align: right;
    }
}

.wave{
    aspect-ratio: 900/300;
    height: 92vh; 
    width: 100%;
    background-repeat: no-repeat;
    /* background-position: 0 0; */
    background-size: cover;
    background-image: url('../../../assets/images/blob-haikei.svg');
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.css-yr1x2i {
    margin-bottom: 0 !important;
}